//Primary colors
$light-red: hsl(0, 100%, 67%);
$orange-yellow: hsl(39, 100%, 56%);
$green-teal: hsl(166, 100%, 37%);
$cobalt-blue: hsl(234, 85%, 45%);

//Background gradient
$Light-slate-blue: hsl(252, 100%, 67%);
$Light-royal-blue: hsl(241, 81%, 54%);

//Circle gradient
$violet-blue: hsla(256, 72%, 46%, 1);
$persian-blue: hsla(241, 72%, 46%, 0);

//Neutral colors
$white: hsl(0, 0%, 100%);
$pale-blue: hsl(221, 100%, 96%);
$light-lavender: hsl(241, 100%, 89%);
$Dark-gray-blue: hsl(224, 30%, 27%);

@mixin color($arg){
    .title{
        color:$arg;
    }
}

*{
    font-family: 'Hanken Grotesk' !important;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    font-size: 18px;
    height: 100%;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#final-box{
    padding: 30px 0;
    text-align: center;
    background: linear-gradient(0deg, $Light-royal-blue, $Light-slate-blue);
    border-radius: 0 0 30px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 40%;
    .score-circle{
        align-self: center;
        background: linear-gradient(180deg, $violet-blue, $persian-blue);
        border-radius: 100px;
        gap: 5px;
        h1{
            color: $white;
            font-size: 2em;
            font-weight: 800;
        }
        width: 30%;
        height: 112.5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        p{
            font-size: 0.7em;
            color: $light-lavender;
        }
    }   
    p{
        color: $light-lavender;
    }
    #score-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        h2{
            font-size: 1.3em;
            color: $white;
            font-weight: 700;
        }
        p { 
            line-height: 1.4em;
            font-size: 0.8em;
            width: 70%;
            word-break: keep-all;
            text-align: center;
        }
        
    }
}

#score-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    gap: 15px;
    h3{
        align-self: flex-start;
    }
    .score-box{
        display: flex;
        width: 100%;
        .icon{
            width: 10%;
        }
        .title {
            display: flex;
            width: 65%;
        }
        .points{
            color: $light-lavender;
            .gained{
                color: black;
            }
        }
        padding: 15px;
        border-radius: 10px;
    }
    #reaction{
        background-color: hsla(0, 100%, 67%, 0.1);
        @include color($light-red);
    }
    #memory{
        background-color: hsla(39, 100%, 56%, 0.1);
        @include color($orange-yellow);
    }
    #verbal{
        background-color: hsla(166, 100%, 37%, 0.1);
        @include color($green-teal);
    }
    #visual{
        background-color: hsla(234, 85%, 45%, 0.1);
        @include color($cobalt-blue);
    }
}

#btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    padding: 15px;
    border-radius: 60px;
    border: 0px;
    background-color: $Dark-gray-blue;
    color: $white;
    font-weight: 500;
    font-size: 1.2em;
    cursor: pointer;
}
#btn:active{
    background: linear-gradient(0deg, $Light-royal-blue, $Light-slate-blue);
}
.attribution {
    font-size: 0.5em;
    position: absolute;
    bottom: 1px;
    width: 100%;
    text-align: center;
}

@media screen and (min-width: 1300px) {
    body{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .container{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 45%;
        min-height: 445px;
        box-shadow:  12px 12px 10px 1px $pale-blue;
        border-radius: 30px 0 0 30px;

    }
    #final-box {
        height: 100%;
        justify-content: center;
        width: 50%;
        border-radius: 30px;
        gap: 30px;
        .score-circle{
            width: 50%;
            height: 180.1px;
            h1{
                font-size: 3em;
            }
            p{
                font-size: 0.9;
            }
        }
        #score-info {
            p{
                font-size: 1em;
            }
        }
    }
    
    #score-box{
        width: 50%;
    }
}
